body{
    background-color: rgb(255, 255, 255);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100vh;
}
.menu{
    text-align: center;
    height: 30px;
}
.imgMini{
    margin-top:5%;
    margin-bottom:10%;
    width: 30%;
    height: 150px;
}
.nameAndPrice{
    margin-top:5%;
    font-weight: bold;
    width: 50%;
}
.clothInfo{
    width: 50%;
    color:grey;
    font-size: 12px;
    font-weight: 300;
}
.bracketDiv{
    z-index: 5;
    display: none;
    justify-content:space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    position: absolute;
    right:0;
    top: 70px;
    width: 350px;
    background-color: whitesmoke;
}
.bracketLink:hover{
    text-decoration: underline;
}
.bracketLink:hover + .bracketDiv{
    display: flex;
}
.bracketDiv:hover{
    display: flex;
}
.finalPrice{
   align-self: flex-end;
   width: 90%;
   margin-right: auto;
   margin-left: 5%;
}
.finalPriceSmall{
    border-top: 0.5px solid gray;
    margin-top: 10px;
    font-size:15px;
}
.price{
    float:right;
    margin-right: 5px;
}
.finalPriceBig{
    border-top: 1.5px solid black;
    margin-top: 10px;
    font-weight: bold;
    font-size:16px;
}
.bracketButtons{
    width:90%;
    align-self: center;
    margin-bottom:15px;
}
.bracketBtn , .bracketBtn2{
    background-color: black;
    color: white;
    border: none;
    padding:1 1 1 1;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:20px;
    margin-top:10px;
    width: 100%;
}
.bracketBtn2{
    color: black;
    background-color: rgb(225, 211, 211);
}
.menuItem{
    display: inline-block;
    margin-right:20px;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menuItem:hover{
   text-decoration: underline;
   cursor: pointer;
}
#logo{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:inherit;
}
a:visited{
    color: inherit;
}
.sideMenu{
    font-size:14px;
    color:black;
}
.sideMenuItem, .bracketLink{
    float: right;
    display: inline;
    font-weight: 300;
    margin-right: 10px;
}
.bracketLink {
    height: 30px;
}
.sideMenuItem:hover{
    text-decoration: underline;
}
.sliderImg{
    display: inline-block;
    width: 18%;
    height:400px;
}
#photoSlider{
    text-align: center;
    margin-bottom: 200px;
}
.smallerHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
    letter-spacing: 1px;
}
.contactUs{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:21px;
    letter-spacing: 1px;
}
footer{
    min-height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin:0 0 0 0;

}
.insta{
    width:80px;
    height: 80px;
}
.insta:hover ,.facebook:hover{
    opacity:0.8;
}
.facebook{
    width:80px;
    height: 80px;
}
.searchBtn{
    float: right;
    height:26px;
    border:none;
}
.searchInput{
    float: right;
    height:20px;
    border:none;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.footerdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.footerdot:hover{
    background-color: black;
}
.active{
    background-color: black;
}
#loginFormDiv,#registerForm{
    display: none;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
    opacity: 0;
}
#loginFormDiv:target{
    display: block;
    opacity: 1;
}
#registerForm:target{
    display: block;
    opacity: 1;
}
.wrapper{
    margin: 70px auto;
    padding: 20px;
    width:30%;
    transition: opacity 500ms;
    position: relative;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 500px;
    transform: translateY(1px);

}
.loginInput{
    min-width: 80%;
    height:50px;
    border-radius: 10% 1px solid black;
    margin-bottom:15px;
}
.loginBtn{
    margin-top: 30px;
}

.loginBtn , .registerBtn{
    width: 82%;
    height: 50px;
    background-color: black;
    color:white;
    font-weight: bold;
    border: none;
    margin-bottom:15px;
}
.registerBtn{
    background-color: lightgray;
    color:black;
}
.rememberBox{
    float:left;
}
.forgotPassword{
    float:right;
}
.forgotPassword:hover{
    text-decoration: underline;
}
.logFormLabel{
    float: left;
    margin-left:30px;
    color:gray;
    font-size: 13px;
}
.close{
    color:gray;
    float: right;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}
.close:hover{
    color: red;
}
.test{
    width:50%;
    height: 400px;
    background-color: blue;
}